@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center; 
} 

.navbar{
    
    .logo{
        width: 60px;
        grid-column: 2/4;
        margin: 10px 0;
    }
}

.navbar{
    
    .menu{
        grid-column: 4/7;
    display: flex;
    justify-content: space-around;
    }
}

.navbar{
    .menu li{
    list-style: none;
    color: #fff;
    }
}

.navbar{
    .menu{
        a{
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }

}

/* section main */ 

.hero{
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/kissfondo.webp);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    
        .hero .info-content{
        grid-column: 2/3;
        grid-row: 3/7;
        color: #fff;
    }
        h3{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3em;
        font-weight: 100px;
    }

        h1{
        font-size: 3em;
    }
} 

.hero{
    .info-content{
        grid-column: 2 / 10;
    grid-row: 4 / 8;
    }
} 

.hero-concierto{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-size: cover;
    height: 100vh;
}

.kisscinco{
    h5{
        color: #fff;
    }

}

form {
    width: 320px;
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    padding-top: 40px;
}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: white;
    color: black;
    padding: 20px;
    width: 200px;
}

#boton2{
    background-color: #fff;
    color: #000;
    padding: 20px;
    width: 200px;
    padding-left: 20px;
}

#boton:hover {
    cursor: pointer;
    background-color: white;
} 

.imgdeconcierto{
    width: 100%;
}

@media screen and (min-width:480px) {
    form{
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
        margin: auto;
        background-color: rgba(0,0,0,0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        padding-top: 90px;
        border-radius: 7px;
    }
    .imgdeconcierto{
        width: 500px;
        justify-self: center;
    }
}



.contacto {
    background-image: url(../multimedia/kissfondo1.jpg);
    background-size: cover ;
    background-attachment: fixed;
    margin: 0%;
}
/* @media screen and (max-width:480px) {
    form{
        width: 100%;
    }
}  */


/* .galeria li {
    margin: 0px; 
    height: 100px;
} */
/* .galeria{
    
    img{
    width: 200px;
    display: flex;
    justify-content: center;
    display: inline;
    
    }
} */

.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background:  rgba(0,0,0,0.8);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.modal{
    h3{
        color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
    }
}

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    a{
        color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
    }
}


.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen{
    img{
        width: 100%;
        max-width: 100%;
        border: 7px solid #fff;
        box-sizing: border-box;
    }
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    border-radius: 50%;
    line-height: 25px;
}

.galeria {
    background-color: grey;
    background-attachment: fixed; 
    background-size: cover;
}

.kiss {
    background-color: #fff;
    height: 100px;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
}

.fa-brands {
    color: #000;
    justify-content: center;
}

.info-content1{
    h2{
        font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #fff;
    margin: 0%;
    padding: 0%;
    grid-template-columns: repeat(10, 1fr);
    }
}

.navbar{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center; 
} 

.navlink {
    background-color:black ;
}

.discografia {
background-color: #000;
}

.hero-concierto{
    h3{
    align-items: center;
    justify-content: center;
    }
}

.hero-concierto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background-size: cover;
    height: 100vh;
}

.kisscinco{
    color: white;
    flex-direction: row;
    padding-top: 50px;
}

.conciertos{
    background-color: #000;
}

.kisscuatro{
    color: #fff;
    flex-direction: row;
    padding-top: 80px;
    position: relative;
    top: 40px;
}

$headings:(
    h1: 4em,
    h2: 3em,
    h3: 2em,
    h4: 1em,
    h5: 0.75em,
    h6: 0.35em,
);

$redes:(
    facebook:blue,
    instagram:violet,
    spotify:green,
); 


.fa-brands.fa-facebook{
    color: map-get($map: $redes , $key:facebook );
}

// // footer{ 
//     a{
//         background-color: map-get($map: $redes, $key: facebook);
//     }
// // }

@mixin titulos ($fz, $color,){
    font-size: $fz;
    color: $color
    text-decoration none;
    text-align: center; 
} 

.mixing1{
    @include titulos (2rem, #fff) 
}

.mixing2{
    @include titulos(2rem, #fff )
}

.hero .info-content{
    grid-column: 2/3;
    grid-row: 3/7;
    color: #fff;
}

form h3{
    color: #fff;
}

#boton{
    background: white;
    color: black;
    padding: 20px;
    width: 200px;
}

.boton--enviar{
    @extend #boton;
    color: green;
}

.boton--cancelar{
    @extend #boton;
    color: red;
}

.imagen-uno{
    width: 300px;
    padding-left: 12px;
}
.imagen-dos{
    width: 145px;
    height: 145px;
    padding-left: 12px;
    padding-top: 5px;
}
.imagen-tres{
    width: 145px;
    padding-left: 12px;
    padding-top: 5px;
}
.imagen-cuatro{
    width: 165px;
    height: 165px;
    padding-left: 12px;
    padding-top: 5px;
}
.imagen-cinco{
    width: 145px;
    height: 145px;
    padding-left: 12px;
    padding-top: 5px;
} 

@media screen and (min-width: 1200px){
    .imagen-uno{
        width: 450px;
        }
        .imagen-dos{
        width: 300px;
        height: 300px;
        }
        .imagen-tres{
            width: 260px;
            height: 300px;
        }
        .imagen-cuatro{
            width: 260px;
            height: 250px;
            padding-top: 10px;
        }
        .imagen-cinco{
            width: 290px;
            height: 260px;
            padding-top: 10px;
        }
        .imgdeconcierto{
            width: 100%;
        }
}

@media screen and (min-width: 1000px){
    form{
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
        margin: auto;
        background-color: rgba(0,0,0,0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        padding-top: 100px;
        padding-bottom: 100px;
        border-radius: 7px;
    }
    .imgdeconcierto{
        width: 800px;
    }
    .kissconcierto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .imagen-uno{
        width: 430px;
        }
        .imagen-dos{
        width: 280px;
        height: 280px;
        }
        .imagen-tres{
            width: 230px;
            height: 280px;
        }
        .imagen-cuatro{
            width: 230px;
            height: 230px;
            padding-top: 10px;
        }
        .imagen-cinco{
            width: 270px;
            height: 230px;
            padding-top: 10px;
        }
}